body {
  background-color: whitesmoke;
}
/*button {
  float: left;
}
.score {
  float: left;
}*/
h2 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 5px;
}
.grid {
  width: 80vmin;
  height : 80vmin;
  margin: auto;
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
  z-index: 10;
}
.grid div {
  width : 8vmin;
  height : 8vmin;
}
.snake {
  background-color: #355070;
  border-radius: 5px;
}
.apple {
  background-color: #ef233c;
  border-radius: 60px;
}
.start {
  font-size: 14px;
  padding: 6px 12px;
  margin-bottom: 0;
  background-color: #48cae4;
  color: #03045e;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 5px;
  width: 10%;
  margin-top: 9px;
  /* margin-bottom: 9px; */
}
p {
  margin-top: 0px;
  font-family: 'Yeon Sung', cursive;
}
